CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build*
third_part/*.*
third_part
tools/pyMOPS/build
tools/pyMOPS/pyMOPS/pyMOPS.so
ndarray
pybind11
vtk
yaml-cpp
third_lib
netcdf-c
build*
.cache
.cache/*
hdf5
zlib
